<html>
    <body>
        your score is {{finalscore}}
        <table border="2px">
            <tr>
                <th>Qno</th>
                <th>QText</th>
                <th>Answer</th>
                <th>Selected Answer</th>
            </tr>
            {% for answerdetails in responses %}
            <tr>
                <td>{{answerdetails.0}}</td>
                <td>{{answerdetails.1}}</td>
                <td>{{answerdetails.2}}</td>
                <td>{{answerdetails.3}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>